// COLOR PALLETTES

$primaryColor: #0A0C17;
$secondaryColor: #EFE1DA;
$accentColor: #D5C0CF;
$darkBlue: #090F4F;
$lightBlue: #1E427E;
$fontColorMain: white;

// FONTS

$primaryFont: "Space Mono", sans-serif;
$secondaryFont: "Orbitron", sans-serif;

// FONT STYLES

$uppercase: "uppercase";
$capitalize: "capitalize"; 
$none: none;


@mixin font($sizeValuePX, $fontChoice, $transform, $fontColor) {
    font-size: ($sizeValuePX/20) * 1rem;
    font-family: $fontChoice;
    text-transform: $transform;
    color: $fontColor;
}

html {
    font-size: 125%;
}


h1 {
    @include font(100, $secondaryFont, $uppercase, $fontColorMain);
    font-weight: 900;
}

h2 {
    @include font(60, $primaryFont, $none, $fontColorMain);
}

h3 {
    @include font(30, $primaryFont, $none, $fontColorMain);
    text-align: center;
}

p{
    @include font(18, $primaryFont, $none, $fontColorMain);
}

i {
    font-size: 3rem;
    color: $accentColor;
}

h1{
    text-shadow: 15px 15px black;
}

h2 {
    text-shadow: 10px 10px black;
}

.infoSection {
    color: white;
}
