@import "partials/setup";
@import "partials/variables";

// Universal styles**********
.wrapper {
    width: 80%;
    margin: 0 auto;
}

body {
    background: linear-gradient(-40deg, #83178F, #4D4548, #931BB9, #18211F)
}

// Header Styles **********

header {
    text-align: center;
}

// Main section Styles **********

#userDate {
    margin-bottom: 5%;
}

.nasaTitle {
    text-align: center;
}

.displayImage {
    // max-height: 90vh;
    // width: 100%;
    display: flex;
    justify-content: center;
    // background-color: black;
    position: relative;
}

.displayImage img {
    object-fit: contain;
    width: 50vw;
    max-height: 80vh;
}

.shuttleArrows {
    position: absolute;
    top: 50%;
}

.shuttleArrows:first-child {
    left: 0;
    transform: rotate(180deg);
}

.infoSection {
    max-width: 60vw;
    margin: 0 auto;
}


// Footer section Styles **********

footer {
    background-color: black;
    padding: 10px;
    font-family: $primaryFont;
}

footer p {
    margin: 0;
    text-align: center;
}
