@import "partials/setup";
@import "partials/variables";

// Universal styles**********
.wrapper {
    width: 80%;
    margin: 0 auto;
}

.skipLink {
    position: fixed;
    top: -100px;
    color: $fontColorMain;
    padding: 15px;
    text-decoration: none;
    background: $darkBlue;
 }
 
 .skipLink:focus {
    top: 0;
 }



body {
    background: linear-gradient(-10deg, #83178F, $primaryColor, $lightBlue, $secondaryColor);
    animation: Gradient 4s ease infinite;
    background-size: 200% 200%;
}

@keyframes Gradient {
    0% {
        background-position: 0% 60%;
    }

    50% {
        background-position: 100% 60%
    }

    100% {
        background-position: 0% 60%;
    }
}

// Header Styles ***************************************************************

header {
    text-align: center;
}

.displayNone {
    display: none;
}

// Main Styles ***************************************************************

#userDate {
    margin-bottom: 5%;
}

.userInput label {
    font-family: $primaryFont;
    color: $fontColorMain;
    margin-right: 20px;
}

.nasaTitle {
    text-align: center;
}

.displayImage {
    display: flex;
    justify-content: center;
    position: relative;
}

.displayImage img {
    object-fit: contain;
    max-height: 80vh;
    // width: 60vw;
    box-shadow: 15px 15px 10px $accentColor;
}

iframe {
    width: 80%;
}

.shuttleArrows {
    position: absolute;
    top: 50%;
}

.shuttleArrows:first-child {
    left: 0;
    transform: rotate(180deg);
}

.infoSection {
    max-width: 60vw;
    margin: 0 auto;
}

.displayImage p {
    display: none;
}


// Footer Styles ***************************************************************

footer {
    background-color: black;
    padding: 10px;
    font-family: $primaryFont;
}

footer p {
    margin: 0;
    text-align: center;
}

@media (max-width: 1180px) {
    .shuttleArrows {
        position: static;
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
}

@media (max-width: 939px) {
    .displayImage {
       flex-direction: column-reverse;
       align-items: center;
   }

   .infoSection {
       padding-top: 5%;
   }

   i {
       padding-bottom: 5%;
       margin-left: 10%;
   }

   .displayImage p {
       display: block;
       transform: rotate(180deg)
   }
}
   @media (max-width: 600px) {
    .wrapper {
        width: 90%;
    }
    
    .displayImage img, 
    iframe { 
        width: 100%;  
        box-shadow: 0px 0px 15px $accentColor;  
    }
    
    header h1 {
        font-size: 3rem;
    }

    .nasaTitle h2 {
        font-size: 2rem;
    }

    .infoSection {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .displayImage img {
        max-height: 60vh;
    }
}